body {
  background-color: white;
}

h1 {
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 16px;
}

#details-location {
	
}

#details-messaging {
	
}

.content {
	margin-left: 5%;
}